@model PanelBatik.Models.OperationClass.SifreYenileModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Şifremi Unuttum | BuSepetten</title>
    <link href="~/DesignFiles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/DesignFiles/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/DesignFiles/LoginFile/login.css" rel="stylesheet" />
    <style type="text/css">
        .validateLabel {
            color: red;
        }

        .sucLabel {
            color: green;
        }
        .container-login .nav-tabs.nav-justified > li > a, .container-login .nav-tabs.nav-justified > li > a:hover, .container-login .nav-tabs.nav-justified > li > a:focus {
            background-color: orange;
        }
        .container-login button {
            background-color: orange;
            border-color: blue;
        }
        .container-login button:hover {
            background-color: blue;
        }
    </style>
</head>
<body>

    <div class="login-body">
        <article class="container-login center-block">
            <section>
                <ul id="top-bar" class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#login-access">Şifremi Unuttum</a></li>
                    <li><a href="@Url.Action("Login","Panel")">Giriş Yap</a></li>
                </ul>
                <div class="tab-content tabs-login col-lg-12 col-md-12 col-sm-12 cols-xs-12">
                    <div id="login-access" class="tab-pane fade active in">
                        <h2>@*<i class="glyphicon glyphicon-log-in"></i>*@  <img src="~/DesignFiles/LoginFile/logo.png" style="width: 400px; height: 125px;" /> </h2>
                        @using (Html.BeginForm("SifreYenile", "Panel", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label for="login" class="sr-only">Email</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "login_value", placeholder = "Email adresiniz", tabindex = "1", type = "email", maxlength = "50", required = "required" })
                                @{
                                    if (Html.ValidationMessageFor(x => x.Email) != null)
                                    {
                                        <label class="validateLabel"><br />@Html.ValidationMessageFor(x => x.Email)</label>
                                    }
                                }
                            </div>
                            <br />
                            <div class="form-group ">
                                <button type="submit" name="log-me-in" id="submit" tabindex="5" class="btn btn-lg btn-primary">Şifremi Yenile</button>
                            </div>

                            if (ViewBag.msgError != null)
                            {
                                <label class="validateLabel"><br />@ViewBag.msgError</label>
                            }
                            else if (ViewBag.basari != null)
                            {
                                <label class="sucLabel"><br />@ViewBag.basari</label>
                            }
                        }
                    </div>
                </div>
            </section>
        </article>
    </div>

</body>
</html>